body {
  background: radial-gradient(circle at 100%, rgb(113, 134, 54), rgb(47, 55, 175) 50%, #eee 75%, rgb(55, 104, 240) 75%);
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

.container {
  padding-bottom: 4rem;
}

h1 {
  font-family: 'Crete Round', serif;
  -webkit-text-fill-color: white; 
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.lead {
  font-family: 'Crete Round', serif;
  -webkit-text-fill-color: white; 
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  font-size: 26px;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding-top: 1.5rem;
  padding-left: 1rem;
  
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid rgb(47, 55, 175);
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
  font-family: 'Crete Round', serif;
  font-size: 16px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px solid  rgb(22, 48, 77);
  padding-top: 2rem;
}

.past {
  background-color: #dd261c;
  color: white;
}

.present {
  background-color: #06AED5;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
  font-size: 20px;
}

.saveBtn:hover {
  font-size: 50px;
  transition: all .3s ease-in-out;
}
